<h1><%= user.username %>님의 프로필</h1>
<p>이메일: <%= user.email %></p>
<p>이름: <%= user.username %></p>
<div class="btn-chageusername"><a href="/changeusername">이름 바꾸기</a></div>
<p>
  전화번호: <%= user.phone.substr(0, 3) %>-<%= user.phone.substr(3, 4) %>-<%=
  user.phone.substr(7, 4) %>
</p>
<p>
  회원가입한 날짜: <%= user.createAt.getFullYear() %>년 <%=
  user.createAt.getMonth() + 1 %>월 <%= user.createAt.getDate() %>일
</p>
